<div class="carousel">

  <ul class="slides">

    <li>
      <h2>We are covered</h2>
      <img src="images/covered.jpg" alt="">
    </li>

    <li>
      <h2>Generation Gap</h2>
      <img src="images/generation.jpg" alt="">
    </li>

    <li>
      <h2>Potter Me
      <img src="images/potter.jpg" alt="">
    </li>

    <li>
      <h2>Pre-School Kids</h2>
      <img src="images/preschool.jpg" alt="">
    </li>

    <li>
      <h2>Young Peter Cech</h2>
      <img src="images/soccer.jpg" alt="">
    </li>

  </ul>

</div>