<h2>My Persons</h2>
<ul class="persons">
  <li *ngFor="let person of persons"
    [class.selected]="person === selectedPerson"
    (click)="onSelect(person)">
    <span class="badge">{{person.id}}</span> {{person.firstname}}
 	<button class="delete" (click)="delete(person); $event.stopPropagation()">X</button>
  </li>
</ul>
<div *ngIf="selectedPerson">
  <h2>
    {{selectedPerson.firstname | uppercase}} is the developper
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<div>
  <label>Person firstname:</label> 
  <input #personFirstname required />
  <button (click)=" add(personFirstname.value); personFirstname.value=''">
    Add
  </button>

 
</div>